
extends page

block append head
 title "Archive - Undoware.net"

block append header
  h2
    block title

//- this logic should be moved to a view at some point

block content
  - var archive = _.chain(env.helpers.getArticles(contents)).filter(function(item) { return !!item; }).groupBy(function(item) {
  -   return item.date.getFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  section.archive
    ul
      - var years = _.chain(archive).keys().reverse().value()
      each year, i in years
        - var last = (years.length - 1 == i);
        li.year
          h1.year-label(class=(last?'last':''))= year
          - var yearArticles = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
          - var months = Object.keys(yearArticles);
          ul
            each month, i in months
              - var articles = yearArticles[month]
              - var lastM = last && (months.length - 1 == i);
              li.month
                h2.month-label(class=(lastM?'last':'')) #{month}
                each article, i in articles
                  - if (!article) break;
                  - var lastA = lastM && (articles.length - 1 == i);
                  h3.archive-entry
                    if (article.metadata.thumbnail)
                      a(href=article.url, class=(lastA?'last':''))
                        if (article.metadata.alt)
                          img(src=article.metadata.thumbnail,alt=article.metadata.alt,style="width:64px;vertical-align:middle;")
                        else
                          img(src=article.metadata.thumbnail,style="width:64px;vertical-align:middle;")
                        | &nbsp; !{article.title}
                    else
                      a(href=article.url, class=(lastA?'last':''))= article.title

