
extends page


block prepend title
  | !{ page.title }


block content
  article.article
    h3
      | !{ page.title }  
    h4.date= moment(page.metadata.date).format('dddd YYYY-MM-DD HH:mm Z')
    h4 from the #{page.metadata.dept} dept.
    if (page.metadata.poster)
      figure.poster
        a(href=page.metadata.poster)
          if (page.metadata.alt)
            img(src=page.metadata.poster,alt=page.metadata.alt)
          else
            img(src=page.metadata.poster)
        if (page.metadata.caption || page.metadata.credit)
          figcaption
            if (page.metadata.caption)
              h5.caption !{page.metadata.caption}
            if (page.metadata.credit)
              h6.credit
                if(page.metadata.credit-url)
                  a(href=page.metadata.credit-url)=page.metadata.credit
                else
                  | !{page.metadata.credit}
    if (article.metadata.audio)
      audio(controls,preload="auto")
        source(src=mp3(article.metadata.audio))
        source(src=ogg(article.metadata.audio))
    if (article.metadata.video)
      video(controls,preload="auto")
        source(src=mp4(article.metadata.video))
        source(src=ogg(article.metadata.video))
    if (article.metadata.youtube)
      youtube(url=article.metadata.youtube)
    if (article.metadata.vimeo)
      vimeo(url=article.metadata.vimeo)
    section.content!= typogr(page.html).typogrify()
    footer
      div.zcommand &nbsp;
      include twitter-share.html
      include reddit.html
      include gplus.html
      include disquotheque.html
      include cc-by-sa.html

