doctype xml
rss(version='2.0',
    xmlns:content='http://purl.org/rss/1.0/modules/content/',
    xmlns:wfw='http://wellformedweb.org/CommentAPI/',
    xmlns:media='http://search.yahoo.com/mrss/',
    xmlns:dc='http://purl.org/dc/elements/1.1/'
    xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    atom:link(href="https://undoware.ca/feed.xml",rel="self",type="application/rss+xml" )
    - var articles = env.helpers.getArticles(contents);
    title= locals.name
    image
      -var imgurl = locals.cdn + '/raster/icon-128.png';
      url=imgurl
      width=128
      height=128
      description=locals.description
      title=locals.name
    link= locals.base
    description= locals.description
    pubDate= articles[0].rfc822date
    generator Wintersmith - https://github.com/jnordberg/wintersmith
    language en
    for article in articles
      - var permalink = locals.base + article.url
      item
        title= article.title
        link= permalink
        pubDate= article.rfc822date
        guid(isPermaLink='true')= permalink
        author= locals.ownemail
        //- passing locals.url resolves all relative urls to absolute
        description= article.getHtml(locals.url)
        if (article.metadata.thumbnail)
          media:thumbnail(url=article.metadata.thumbnail)
