extends page

block append content
  include author
  h2 Portfolio Index
  p This is a portfolio my previous work: writing, websites, code, mostly. Read the description to find out what roles I played on the relevant teams.
   
  div.thumbnails
    each piece in page.metadata.gallery
      - var jmp = '#' + piece.anchor
      a(href=jmp)
        img(src=piece.thumbnail)
  h2 Portfolio
  each piece in page.metadata.gallery
    article.gallery(class=piece.anchor)
      header.column-group.gutters
        div.large-20
         a(id=piece.anchor)
           img(src=piece.thumbnail,alt=piece.credit)
        div.large-80
          h2
            if 'url' in piece
               a(href=piece.url)= piece.headline
            else
               | !{piece.headline}
          h4.date= moment(piece['start-date']).format('YYYY-MM-DD')
      section.gallery.text
        | !{ typogr(piece.text).typogrify() }
      footer
        if 'url' in piece
          a(href=piece.url)= view
