extends page

block append content
  include author
  h2 Portfolio Index
  p This is a portfolio my previous work: writing, websites, code, mostly. Read the description to find out what roles I played on the relevant teams.
   
  div.thumbnails
    each piece in page.metadata.gallery
      - var jmp = '#' + piece.anchor
      a(href=jmp)
        img(src=piece.thumbnail)
  h2 Portfolio
  each piece in page.metadata.gallery
    article.gallery(class=piece.anchor)
      header
        a(id=piece.anchor) &nbsp;
        a(href=piece.home) &nbsp;
          | &nbsp;
        h2
          if 'url' in piece
             a(href=piece.url)= piece.headline
          else
             | !{piece.headline}
        h4.date= moment(piece['start-date']).format('YYYY-MM-DD')
      section.gallery.text.column-group.gutters
        div.large-50.small-100
          a(href=piece.home)
            img(src=piece.media,alt=piece.caption)
        div.large-50.small-100
          p
            a(href=piece.home)
              | !{ typogr.typogrify(markdown.markdown.toHTML(piece.text)) }
      footer
        if 'url' in piece
          a(href=piece.url)= view
