extends page

block append head
  link(rel='alternate', href='/feed.xml', type='application/rss+xml', title=locals.description)


block append content
  include author
  each article in articles
    - var articleClass = ('class' in article.metadata) ? article.metadata.class : 'story'
    article.intro(class=articleClass)
      header
        h2
          a(href=article.url)= article.title
        h4.date= moment(article.date).format('dddd YYYY-MM-DD HH:mm Z')
        h4 from the #{article.metadata.dept} dept.
      section(class=articleClass)
        | !{ typogr(article.intro).typogrify() }
      footer
        if article.hasMore
          a(href=article.url) ⋯
        else
          span.zcommand &nbsp;
  menu.nav
    if nextPage
      a(href=nextPage.url) ⊂
    a(href='/timeline/') ∀
    if prevPage
      a(href=prevPage.url) ⊃
