extends page

block append head
  link(rel='alternate', href='/feed.xml', type='application/rss+xml', title=locals.description)


block append content
  include author
  each article in articles
    - var articleClass = ('class' in article.metadata) ? article.metadata.class : 'story'
    article.intro(class=articleClass)
      header
        h2
          a(href=article.url)= article.title
        h4.date= moment(article.date).format('dddd YYYY-MM-DD HH:mm Z')
        h4 from the #{article.metadata.dept} dept.
      if (article.metadata.cover)
        section.column-group(class=articleClass)
            figure.push-rght
              a(href=article.url)
                if (article.metadata.alt)
                  img(src=article.metadata.cover,alt=article.metadata.alt)
                else
                  img(src=article.metadata.cover)
              if (article.metadata.caption || article.metadata.credit)
                figcaption
                  if (article.metadata.caption)
                    h5.caption !{article.metadata.caption}
                  if (article.metadata.credit)
                    h6.credit
                      if(article.metadata.credit-url)
                        a(href=article.metadata.credit-url)=article.metadata.credit
                      else
                        | !{article.metadata.credit}
            section.push-left
              | !{ typogr(article.intro).typogrify() }
      else 
        section(class=articleClass)
        | !{ typogr(article.intro).typogrify() }
      footer
        if article.hasMore
          a(href=article.url) ⋯
        else
          span.zcommand &nbsp;
  menu.nav
    if nextPage
      a(href=nextPage.url) undo
    a(href='/archive/') | all | 
    if prevPage
      a(href=prevPage.url) redo
