
include util

link(rel="sitemap",href="https://undoware.ca/sitemap.xml")
link(rel="profile",href="http://microformats.org/profile/hcard")

link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:300,300italic',charset='utf-8')
link(rel='stylesheet',href='/style/main.css',charset="utf-8")
link(rel='stylesheet',href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', charset='utf-8')


//# /* Most browses, incl. IE */
link(rel="shortcut icon",type="image/png",sizes="16x16",href=png("icon-16"))
link(rel="image_src",href=svg("icon"))
link(rel="icon",href=png("icon"))
link(rel="favicon",href=png("icon"))

//# /* No one yet, but I think they should */
link(rel="icon",type="image/png",sizes="12x12",href=png("icon-12"))
link(rel="icon",type="image/png",sizes="16x16",href=png("icon-16"))
link(rel="icon",type="image/png",sizes="32x32",href=png("icon-32"))
link(rel="icon",type="image/png",sizes="96x96",href=png("icon-96"))
link(rel="icon",type="image/png",sizes="128x128",href="png(icon-128)")

//# /* Apple */
link(rel="apple-touch-icon",type="image/png",sizes="57x57", href=png("icon-57"))
link(rel="apple-touch-icon",type="image/png",sizes="72x72",href=png("icon-72"))
link(rel="apple-touch-icon",type="image/png",sizes="114x114",href=png("icon-114"))
link(rel="apple-touch-icon",type="image/png",sizes="144x144",href=png("icon-144"))
link(rel="apple-touch-icon",type="image/svg+xml",href=svg("icon.svg"))


