// meta.jade

include util
include cdn

block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='MobileOptimized',content='320')
    meta(name='HandheldFriendly',content='True')
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black")
    meta(name="viewport",content=viewport(locals.scale))
    meta(name="web_author",content=locals.owner)
    meta(name="language",content=locals.language.name)
    meta(name="dc.language",content=locals.language.code)
    meta(name="language",content="English")
    meta(name="dc.language",content="en-CA")
    meta(name="robots",content="all")
    meta(name="reply-to",content="beth@undoware.ca")
    meta(property="og:type",content="blog")
    meta(name="dc.keywords",content="Usability, UX, Technology, Politics")
    meta(name="dc.subject",content="Usability")
    -var sn=locals.name + ": " + locals.description
    meta(property="og:site_name",content=sn)
    meta(name="copyright",content=sn)
    -var t = " (↺)";
    -if (!!page['title']) {
    -   t = page['title'] + t;
    -} else { 
    -   t = sn;
    -}
    meta(property="og:title",content=t)
    meta(name="name",content=t)
    meta(name="dc.title",content=t)
    meta(itemprop="name",content=t)
    title= t
    //# /* Generate permalink URL for this page. Easy. */
    -var u
    -if (page && 'url' in page)
      -u = locals.url + page.url
    -else
      -u = locals.url
    meta(property="og:url",content=u)
    meta(name="dc.source",content=u)


    //# /* Generate the social media image for this page. If one isn't found, use a default. */
    -var i
    -if (page && 'image' in page.metadata)
      -i = cdn(page.url + page.metadata.image)
    -else
      -i = cdn('/raster/icon-256.png')

    meta(property="og:image",content=i)
    meta(itemprop="image",content=i)


    //# /* Put a desc of this page everywhere it needs to be */
    - var d = locals.description /* default */
    - if (page && 'status' in page.metadata)
      d = page.metadata.status /* if there's a status, use it in preference to site description */
    - if (page && 'excerpt' in page.metadata)
      d = page.metadata.blurb /* if there's an excerpt, definitely use that */
    meta(property="og:description",content=d)
    meta(name="description",content=d)
    meta(itemprop="description",content=d)
