// page.jade -- last stop before rendering.

include(util)



append head
  +css(page.metadata.style)
  +js(page.metadata.logic + '.js')


append content
    header.vspace
      h1.logo.vspace
        if (locals.owner-url)
          h1
            a(href=locals.owner-url)=locals.owner
        if (locals.icon)
          - var iconClass = 'icon-' + locals.icon;
          i(class=iconClass)
        | !{locals.name}
      include navigation
      h2.title.vspace= page.title

    main.vspace
      | !{page.html}


extends site
