// page.jade -- last stop before rendering.

include(util)



append head
  +css(page.metadata.style)
  +js(page.metadata.logic + '.js')


append content
    header.white
      if (locals.owner)
        h4.quarter-top-space
          span.quarter-left-space
            if (locals.ownurl)
              a(href=locals.ownurl)=locals.owner
            else
              | !{locals.owner}
          span.logo
            if (locals.icon)
              - var iconClass = 'icon-' + locals.icon;
              | &nbsp;
              i(class=iconClass)
              | &nbsp;
            | !{locals.name}
          | : &nbsp;
          span.title
            if (page.metadata.icon)
              - var i = 'icon-' + page.metadata.icon;
              i(class=i)
              | &nbsp;
            | !{page.title}
          a.push-right(href='/help.html')
            i.icon-question-sign
          span.beta.push-right.small
            | BETA &nbsp;
      include navigation


    main.white
      | !{page.html}

    footer.footer
      p.small © MedExtra 2013. All Rights Reserved.
      p.small Questions? Problems? <a href="mailto:emarston@medextra.com">Email.</a>

extends site
