// page.jade -- last stop before rendering.

include(util)



append head
  +css(page.metadata.style)
  +js(page.metadata.logic + '.js')


append content
    header.white
      if (locals.owner)
        h4.quarter-top-space
          span.quarter-left-space
            if (locals.ownurl)
              a(href=locals.ownurl)=locals.owner
            else
              | !{locals.owner}
          span.logo
            if (locals.icon)
              - var iconClass = 'icon-' + locals.icon;
              | &nbsp;
              i(class=iconClass)
              | &nbsp;
            | !{locals.name}
          | : &nbsp;
          span.title
            if (page.metadata.icon)
              - var i = 'icon-' + page.metadata.icon;
              i(class=i)
              | &nbsp;
            | !{page.title}
          span.beta.push-right.small
      include navigation


    main.white
      | !{page.html}

    footer.footer
      span.small.push-right
        | Unauthorized use of this system is strictly forbidden by BAD MEN with GUNS.
      span.small.push-left
        | © 2013 !{locals.owner}. All Rights Reserved.

extends site
