// page.jade -- last stop before rendering.

include(util)



append head
  +css(page.metadata.style)
  +js(page.metadata.logic + '.js')


append content
    header.vspace
    if (locals.owner)
      h1.vspace
        span
          if (locals.ownurl)
            a(href=locals.ownurl)=locals.owner
          else
            | !{locals.owner}
        span.logo
          if (locals.icon)
            - var iconClass = 'icon-' + locals.icon;
            i(class=iconClass)
          | !{locals.name}
      include navigation
      h2.title.vspace= page.title

    main.vspace
      | !{page.html}


extends site
