// page.jade -- last stop before rendering.

include(util)



append head
  +css(page.metadata.style)
  +js(page.metadata.logic + '.js')


append content
    header.white
      if (locals.owner)
        h3.quarter-top-space
          span.quarter-left-space
            if (locals.ownurl)
              a(href=locals.ownurl)=locals.owner
            else
              | !{locals.owner}
          span.logo
            if (locals.icon)
              - var iconClass = 'icon-' + locals.icon;
              | &nbsp;
              i(class=iconClass)
              | &nbsp;
            | !{locals.name}
          a.push-right(href='/help.html')
            i.icon-question-sign
          span.beta.push-right.small
            | BETA &nbsp;
      include navigation
      h3.title= page.title

    main.white
      | !{page.html}

    footer.footer
      h6 © MedExtra 2013 All Rights Reserved.
      h6 Questions? Problems? <a href="mailto:emarston@medextra.com">Email.</a>

extends site
